body {
	height: 100vh;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
    /*Important because I am removing default Bootstrap padding*/
}

#header {
	height: 8%;
}

#header-title {
	height: 100%;
}

#header-nav {
	background-color: #673AB7;
	height: 100%;
}

#screen {
	height: 90%;
}

#sidebar {
	height:100%;
	outline: 1px solid #AAAAAA;
}

#title {
	color: #AAAAAA;
	padding-left: 50px;
	font-size: 300%;
}

#current-nav {
	color: #FFFFFF;
	padding-left: 50px;
	font-size: 200%;
}

#sidebar-list {
	list-style: none;
    padding: 0;
    width: 100%;
}

#sidebar-list > li {
	height: 100px;
	padding-top: 25px;
	padding-left: 20%;
	font-size: 100%;
	font-weight: bold;
}

li:hover {
	background-color: #EEEEEE;
}