body {
	height: 100vh;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
    /*Important because I am removing default Bootstrap padding*/
}

#header {
	height: 8%;
}

#header-title {
	height: 100%;
}

#header-nav {
	background-color: #673AB7;
	height: 100%;
}

#screen {
	height: 90%;
}

#sidebar {
	height:100%;
	outline: 1px solid #AAAAAA;
}

#title {
	color: #AAAAAA;
	padding-left: 50px;
	font-size: 300%;
}

#current-nav {
	color: #FFFFFF;
	padding-left: 50px;
	font-size: 200%;
}

#sidebar-list {
	list-style: none;
    padding: 0;
    width: 100%;
}

#sidebar-list > a > li {
	height: 100px;
	padding-top: 25px;
	padding-left: 20%;
	font-size: 100%;
	font-weight: bold;
}

li:hover {
	background-color: #EEEEEE;
}

.block-list {
	list-style: none;
}

#robots {
	padding: 50px;
}

#robots > li {
	margin: 10px;
	display: inline-block;
	width: 300px;
	background-color: #AAAAAA;
	border: 1px solid #000000;
}

#robots > li > img {
	width: 100%;
	height: 200px;
}

#robots > li > div {
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 200%;
	color: #FFFFFF;
}



/*ADD ROBOT MODAL*/
.modal-header {
	background-color: #512DA8;
	color: #FFFFFF;
}

.input-group {
	width: 100%;
	padding-top: 20px;
}

.modal-body > p {
	color: #000000;
}

.label {
	border-radius: 0;
}